@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* This ensures the navbar spans the full width of the viewport */
  z-index: 1000; /* This ensures the navbar stays on top of other elements */
  background: inherit; /* This makes the navbar have the same background as its parent */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
};


